# Java
*.class
*.jar
*.war
*.log

# Maven
target/
.mvn/
!mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# OS
.DS_Store

# Build Output
/out

# Application Config
application.properties